#CartContainer 
{
    text-align: center;
    display: flex;
    position: fixed;
    top:0;
    right: 0%;
    flex-direction: column;
    z-index: -1;
    height: 100%;
    width: 0px;
    transition :all ease-out 0.3s;
    background-color: white;
    gap :25px;
    align-items: center;
    opacity: 0;
}

#CartContainer.active
{
    z-index: 2;
    opacity: 1;
    width: 520px;
}

#CartContainer > button
{
    width:60%;
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    border: none;

}

#CartContainer p
{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 10px;
}

#CheckoutBtn
{
    background-color: rgb(111, 255, 111);
}

#CloseBtn
{
    background-color: rgb(255, 154, 154);
}

.ItemContainer
{
    height: 40%;
    overflow: auto;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.CartItemDiv
{
    display: flex;
    gap: 5px;
    height: 100px;
}

.CartItemImg
{
    height: 100px;
}
.CartItemName
{
    overflow: hidden;
}
.CartItemQuantityDiv
{
    display: flex;
    height: 47%;
    gap: 20px;
}
.CartItemQuantityDiv button
{
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 0px;
    border: none;
}