.navBar
{
    background-color: black;
    gap: 5%;
    margin: 0px;
    display: flex;
    padding: 2.5%  5%;
    list-style-type: none;
    align-items: center;
}

.navBar  *
{
    color: white;
    font-size: 30px;
}

.navBar >li:first-child >*
{
    font-size: 45px;
    font-weight: bold;
    color: #46ffd3;
}

.navBar li:nth-child(2)
{
    margin-left: auto;
}
.navBar li
{
    transition: all 0.2s ease-out 0.0s;
}
.navBar li:hover
{
    transform: scale(1.2);
    display: inline-block;
}
a
{
    text-decoration: none;
}

#cartDiv
{
    position: relative;
    background-color: transparent;
}

#cartNotification
{
    top: 33%;
    left: 77%;
    position: absolute;
    font-size: 0.6em;
    background-color: rgb(164, 24, 24);
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50px;
    text-align: center;
}

.overlay
{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    transition: all ease-out 0.2s;
    z-index: -1;
}
.overlay.active 
{
    z-index: 1;
    opacity: 0.6;
}
