.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

.AppContainer
{
  display: flex;
  justify-content: center;
  gap: 10%;
  margin: 100px;
}

.AppContainer >div
{
  flex-shrink: 0;
}

#BestOnlineStore
{
  font-size: 1.5em;
}

#WeAreFashion
{
  margin: 15px;
  font-size: 4em;
  font-weight: 900;
}

#ShopNowBtn
{
  background-color: black;
  border: none;
  border-radius: 60px;
  padding: 20px 80px;
  color: white;
  font-size: 4em;
}
a
{
  text-decoration: none;
  color: inherit;
}

#backgroundImage
{
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  z-index: -1;
  height: 30%;
}

@media (max-width:1440px)
{
  #homePageImage
  {
    position:absolute;
    opacity: 0.6;
    width: 100%;
    z-index: -1;
  }

  #backgroundImage
  {
    opacity: 0.0;
  }

}